<%- include ("partials/header") -%>
	<div class="demoHeader" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="overlay"></div>
		<div class="contentWidth">
			<div class="titleWrap">
				<h1 class="site-title">Klaar om te beginnen?</h1>
				<h4 class="site-description">Mobatec Modeller is dé cloudoplossing die studenten enscholen helpt bij het onderwijzen van engineering. Startje gratis 7 dagen proefperiode (geen creditcardnoodzakelijk). En ontdek zelf hoe wij de opleiding totoperator C voorgoed veranderen.</h2>
				<div class="buttonsWrap">
					<div class="button demo">Start Demo</div>
					<div class="button contact">Bekijk introductie</div>
				</div>
			</div>
			<div class="imagesWrap">
				<img src="<%=bucket%>/images/laptop.png">
			</div>
		</div>
	</div>
	<div class="white" style="margin-top:83px">
		<div class="scrollAnchor" id="demo"></div>
		<div class="contentWidth">
			<div class="demoVideo">
				<div class="mathieu">
					<img src="/images/Mathieu-Westerweele.png">
					<div class="name">Dr Ir Mathieu Westerweele</div>
					<div class="note">Managing Director</div>
				</div>
				<div class="video">
					<img src="/images/demo-Thumb.jpeg">
					<script src="https://cdn.lordicon.com/lordicon.js"></script>
					<div class="icon"><lord-icon
					    src="https://cdn.lordicon.com/lwvaowvp.json"
					    trigger="hover"
					    colors="primary:#ffffff,secondary:#14ff14"
					    style="width:250px;height:250px">
					</lord-icon></div>
				</div>
				
								
			</div>
		</div>
	</div>
	<div class="trioBoxes">
		<div class="contentWidth">
			<div class="boxes">
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/cloudIcon.png"></div>
					<div class="title">Toegankelijkheid</div>
					<div class="text">Mobatec biedt een cloudoplossing, wat betekent dat simulaties toegankelijk zijn vanaf elke locatie. Studenten en scholen kunnen altijd en overal werken aan hun opdrachten en processen.</div>
				</div>
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/managerIcon.png"></div>
					<div class="title">Efficiënt</div>
					<div class="text">Onze cloudoplossing is efficiënt en gebruiksvriendelijk, waardoor studenten en scholen gemakkelijk complexe engineeringmodellen kunnen besturen en analyseren.</div>
				</div>
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/educationIcon.png"></div>
					<div class="title">Verbeterd onderwijs</div>
					<div class="text">Met Mobatec Modeller kunnen studenten en scholen complexe processen besturen en analyseren, waardoor het operator onderwijs wordt verbeterd.</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="white requestDemo">
		<div class="contentWidth">
			<div class="title">Claim toegang tot jouw eigen Mobatec Modeller omgeving</div>
			<div class="inlines">
				<div class="inline">
					<ul>
						<li><p>Geen creditcard nood zakelijk</p></li>
						<li><p>Gratis 7 dagen proberen</p></li>
						<li><p>Geheel vrijblivend</p></li>
						<li><p>Eenvouding te gebruiken</p></li>
					</ul>
				</div>
				<div class="inline">
					<div class="review">
						<div class="image">
							<img src="<%=bucket%>/images/Rene-ter-Voort.jpg">
						</div>
						<div class="quoteWrap">
							<div class="quote">"De beste simulatie software voor proces operators"</div>
							<div class="signature">René Ter Voort <span>(Project manager onderwijs @<a href='https://stc.nl/' target="_blank">STC</a>)</span></div>
						</div>
					</div>
					<div class="testimonial">
						<div class="stars">
							<img src="<%=bucket%>/images/star.png">
							<img src="<%=bucket%>/images/star.png">
							<img src="<%=bucket%>/images/star.png">
							<img src="<%=bucket%>/images/star.png">
							<img src="<%=bucket%>/images/star.png">
						</div>
						<div class="box">
							<div class="border"></div>
							<p>Cloud oplossing voor Operator A/B/C opleidingen</p>
						</div>
						<div class="box">
							<div class="border"></div>
							<p>Voor industrieën en scholen die locatieonafhankellijk willen trainen en opleiden.</p>
						</div>
					</div>
					
				</div>
			</div>
			<div class="form">
				<div class="inputWrap">
					<div class="title">Email:</div>
					<div class="inputWrapper">
						<input type="text" id="email">
					</div>
				</div>
				<div class="inlines">
					<div class="inline">
						<div class="inputWrap">
							<div class="title">Voornaam:</div>
							<div class="inputWrapper">
								<input type="text" id="first-name">
							</div>
						</div>		
					</div>
					<div class="inline">
						<div class="inputWrap">
							<div class="title">Achternaam:</div>
							<div class="inputWrapper">
								<input type="text" id="last-name">
							</div>
						</div>		
					</div>
					<div class="inline">
						<div class="inputWrap">
							<div class="title">Functie:</div>
							<div class="inputWrapper">
								<input type="text" id="position">
							</div>
						</div>		
					</div>
				</div>
				<div class="buttons">
					<div class="button">Bekijk introductie</div>
					<div class="button">Vraag wachtwoord aan</div>
					<div class="button">
						<div><b>Binen 24 uur</b><br>Toegang tot jouw eigen MobatecModdeler omgeving in je inbox.</div>
						<div class="arrow">
							<img src="/images/contactArrow.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white logos">
		<div class="scrollAnchor" id="testimonials"></div>
		<div class="contentWidth">
			<div class="title">Trusted by</div>
			<div class="logosWrap">
				<div class="logoWrap">
					<img src="<%=bucket%>/images/stc.png">
				</div>
				<div class="logoWrap">
					<img src="<%=bucket%>/images/tata.png">
				</div>
				<div class="logoWrap">
					<img src="<%=bucket%>/images/sartorius.png">
				</div>
				<div class="logoWrap">
					<img src="<%=bucket%>/images/technicom.png">
				</div>
				<div class="logoWrap">
					<img src="<%=bucket%>/images/litop.png">
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>