<%- include ("partials/header") -%>
	<div class="homeHeader" style="background-image:url(<%=bucket%>/images/homeHeader.jpg);">
		<div class="overlay"></div>
		<div class="contentWidth">
			<div class="titleWrap">
				<h1 class="site-title">MobaCloud Process Simulation</h1>
				<h2>Educational LMS Plug-in</h2>
				<h2 class="site-description">Een web-based Operator Training Simulator, die toegankelijk is via een webbrowser, waarmee procesoperators of studenten hun vaardigheden overal en op elk apparaat kunnen oefenen en verbeteren, en waarmee managers of docenten de voortgang kunnen volgen op elk Learning Management Systeem</h2>
				<div class="buttonsWrap">
					<div class="button demo">Start Demo</div>
					<div class="button contact">Contact</div>
				</div>
				<div class="testimonial">
					<div class="stars">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Cloud oplossing voor Operator A/B/C opleidingen</p>
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Voor industrieën en scholen die locatieonafhankellijk willen trainen en opleiden.</p>
					</div>
				</div>
				<div class="review">
					<div class="image">
						<img src="<%=bucket%>/images/jasper.jpeg">
					</div>
					<div class="quoteWrap">
						<div class="quote">"De beste simulatie software voor proces operators"</div>
						<div class="signature">René Ter Voort <span>(Project manager onderwijs)</span></div>
					</div>
				</div>
			</div>
			<div class="imagesWrap">
				<div class="wrap">
					<div class="image high">
						<img src="<%=bucket%>/images/home1.jpg">
					</div>
					<div class="image square">
						<img src="<%=bucket%>/images/home2.jpg">
					</div>
				</div>
				<div class="wrap">
					<div class="image square">
						<img src="<%=bucket%>/images/home4.jpg">
					</div>
					<div class="image high">
						<img src="<%=bucket%>/images/home3.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white titleText" style="margin-top:83px">
		<div class="contentWidth">
			<div class="title">Verbeter het onderwijs in Operator A/B/C Opleidingen.</div>
			<div class="text">Mobatec heeft een cloudoplossing die docenten en scholen helpt bij het onderwijzen van operators op elk nivo. Met onze software kunnen gebruikers complexe processen vitrueel besturen en analyseren, waardoor ze een dieper inzicht krijgen in het vakgebied.</div>
		</div>
		<div class="topFade"></div>
		<div class="bottomFade"></div>
	</div>
	<div class="collage" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="contentWidth">
			<div class="imageWrap">
				<img src="<%=bucket%>/images/laptop.png">
			</div>
		</div>
	</div>
	<div class="trioBoxes">
		<div class="buttonWrap">
			<div class="button">Start demo</div>
		</div>
		<div class="contentWidth">
			<div class="boxes">
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/cloudIcon.png"></div>
					<div class="title">Toegankelijkheid</div>
					<div class="text">Mobatec biedt een cloudoplossing, wat betekent dat simulaties toegankelijk zijn vanaf elke locatie. Studenten en scholen kunnen altijd en overal werken aan hun opdrachten en processen.</div>
				</div>
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/managerIcon.png"></div>
					<div class="title">Efficiënt</div>
					<div class="text">Onze cloudoplossing is efficiënt en gebruiksvriendelijk, waardoor studenten en scholen gemakkelijk complexe engineeringmodellen kunnen besturen en analyseren.</div>
				</div>
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/educationIcon.png"></div>
					<div class="title">Verbeterd onderwijs</div>
					<div class="text">Met Mobatec Modeller kunnen studenten en scholen complexe processen besturen en analyseren, waardoor het operator onderwijs wordt verbeterd.</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="lightblue description">
		<div class="contentWidth">
			<div class="textWrap">
				<div class="testimonial">
					<div class="stars">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Cloud oplossing voor Operator A/B/C opleidingen</p>
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Voor industrieën en scholen die locatieonafhankellijk willen trainen en opleiden.</p>
					</div>
				</div>
				<div class="textBox">
					<div class="title">Modelcreatie</div>
					<div class="text">Gebruikers kunnen complexe engineeringmodellen maken met behulp van onze software. Dit stelt studenten en scholen in staat om dieper inzicht te krijgen in de engineeringprincipes.</div>
				</div>
				<div class="textBox">
					<div class="title">Modelanalyse</div>
					<div class="text">Onze software maakt het mogelijk om complexe engineeringmodellen te analyseren, waardoor gebruikers inzicht krijgen in de prestaties en het gedrag van het model.</div>
				</div>
				<div class="textBox">
					<div class="title">Samenwerking</div>
					<div class="text">Mobatec Modeller biedt de mogelijkheid om samen te werken aan engineeringmodellen. Studenten en scholen kunnen gemakkelijk samenwerken en kennis delen.</div>
				</div>
			</div>
			<div class="imagesWrap">
				<div class="mainImage">
					<img src="<%=bucket%>/images/description1.jpg">
				</div>
				<div class="subImages">
					<div class="subImage">
						<img src="<%=bucket%>/images/description2.jpg">
					</div>
					<div class="subImage">
						<img src="<%=bucket%>/images/description3.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white licensing">
		<div class="contentWidth">
			<div class="sectionTitle">Licensing</div>
			<div class="boxes">
				<!--<div class="box">
					<div class="title">Student</div>
					<div class="boxDescription">An individual student annual license</div>
					<div class="price">120&euro;<span>/year</span></div>
					<div class="buttonWrap">
						<div class="button">Get started</div>
					</div>
					<div class="attributes">
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">1 floating license</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">5 modules with eLeanings</div>
						</div>
					</div>
				</div>
				<div class="box popular">
					<div class="title">Classroom</div>
					<div class="boxDescription">25 students annual license</div>
					<div class="price">500&euro;<span>/year</span></div>
					<div class="buttonWrap">
						<div class="button">Get started</div>
					</div>
					<div class="attributes">
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">25 floating licenses</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">5 modules with eLeanings</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Connection to Learning management systems</div>
						</div>
					</div>
					<div class="mostPopular">MOST POPULAR</div>
				</div>-->
				<div class="box">
					<div class="title">Industrial</div>
					<div class="boxDescription">License is used for commercial purposes.</div>
					<div class="price">Contact us</div>
					<div class="buttonWrap">
						<div class="button">Get started</div>
					</div>
					<div class="attributes">
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Any number of licenses</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Tailored modules and DCS look</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Connection to Learning management systems</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="industryTestimonials" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="contentWidth">
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/jasper.jpeg"></div>
					<div class="signature">
						<div class="name">Jasper Ruten <span>(plant manager)</span></div>
						<div class="company">Huntsman</div>
					</div>
				</div>
			</div>
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/jasper.jpeg"></div>
					<div class="signature">
						<div class="name">Jasper Ruten <span>(plant manager)</span></div>
						<div class="company">Huntsman</div>
					</div>
				</div>
			</div>
		</div>-->

		<!--Mathieu quote, and logos of companies after that-->
	</div>
<%- include ("partials/footer") -%>